.forecast {
    display: block;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    &-title {
        text-align: left;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    &-items {
        display: flex;
        overflow-x: scroll;
    }
    &:last-of-type {
        border-right: 0px;
    }
    &-item {
        padding: 10px;
        padding: 10px;
        border-right: 1px solid #ccc;
        margin-bottom: 10px;
        &__hour,
        &__temp,
        &__description {
            margin: 0;
        }
        &__hour {
            color: grey;
        }
    }
}